@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@400;500&family=Roboto:wght@400;500;700&family=Ubuntu&display=swap");
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "mobile_menu.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-image: url("../images/back_img.jpg");
  background-size: cover;
  height: 100vh;
  padding-top: 23px;
  position: relative;
}
@media screen and (max-width: 1170px) {
  header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 375px) {
  header {
    padding-left: 15px;
    padding-right: inherit;
  }
}
header .container {
  max-width: 1170px;
  margin: auto;
  height: 100%;
}
header .container .container_nav {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 840px) {
  header .container .container_nav .logo {
    height: 80%;
  }
}
@media screen and (max-width: 538px) {
  header .container .container_nav .logo {
    height: 65%;
  }
}
header .container .burger-menu_button {
  display: none;
}
@media screen and (max-width: 840px) {
  header .container .burger-menu_button {
    display: initial;
  }
}
@media screen and (max-width: 620px) {
  header .container .burger-menu_button {
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 538px) {
  header .container .burger-menu_button {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 375px) {
  header .container .burger-menu_button {
    width: 55px;
    height: 55px;
  }
}
@media screen and (max-width: 840px) {
  header .container .burger-menu_nav {
    padding-top: 120px;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    background-color: #e6f3fd;
    overflow-y: auto;
    right: -100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
  }
}
header .container .burger-menu_nav .burger-menu_link {
  all: initial;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #40A3F8;
  margin-right: 50px;
  cursor: pointer;
}
@media screen and (max-width: 950px) {
  header .container .burger-menu_nav .burger-menu_link {
    margin-right: 30px;
  }
}
@media screen and (max-width: 840px) {
  header .container .burger-menu_nav .burger-menu_link:nth-of-type(1) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
header .container .burger-menu_nav .burger-menu_link:nth-of-type(2) {
  color: #6E5F5F;
  opacity: 0.3;
}
@media screen and (max-width: 840px) {
  header .container .burger-menu_nav .burger-menu_link:nth-of-type(2) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
header .container .burger-menu_nav .burger-menu_link:nth-of-type(3) {
  color: #6E5F5F;
  mix-blend-mode: normal;
  opacity: 0.3;
}
@media screen and (max-width: 840px) {
  header .container .burger-menu_nav .burger-menu_link:nth-of-type(3) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
header .container .burger-menu_nav .burger-menu_link:nth-of-type(4) {
  color: #262323;
  mix-blend-mode: normal;
  opacity: 0.3;
  margin-right: 75px;
}
@media screen and (max-width: 950px) {
  header .container .burger-menu_nav .burger-menu_link:nth-of-type(4) {
    margin-right: 50px;
  }
}
@media screen and (max-width: 840px) {
  header .container .burger-menu_nav .burger-menu_link:nth-of-type(4) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
header .container .burger-menu_nav .burger-menu_link:nth-of-type(5) {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 22px;
  background: #40A3F8;
  border-radius: 5px;
  padding: 13px 28px;
  margin: 0 5px;
}
header .container .burger-menu_active .burger-menu_nav {
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
header .container .container_box_text {
  display: flex;
  flex-direction: column;
  height: 92%;
  justify-content: center;
  width: 50%;
}
@media screen and (max-width: 880px) {
  header .container .container_box_text {
    width: 48%;
  }
}
@media screen and (max-width: 834px) {
  header .container .container_box_text {
    width: 40%;
    justify-content: start;
  }
}
@media screen and (max-width: 470px) {
  header .container .container_box_text {
    justify-content: start;
  }
}
@media screen and (max-width: 375px) {
  header .container .container_box_text {
    width: 35%;
  }
}
header .container .container_box_text h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  color: #3E3E3E;
  padding-bottom: 31px;
}
@media screen and (max-width: 840px) {
  header .container .container_box_text h1 {
    font-size: 40px;
    line-height: 60px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 820px) {
  header .container .container_box_text h1 {
    padding-top: 20px;
  }
}
@media screen and (max-width: 793px) {
  header .container .container_box_text h1 {
    font-size: 35px;
    line-height: 50px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 538px) {
  header .container .container_box_text h1 {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 420px) {
  header .container .container_box_text h1 {
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 20px;
    padding-top: inherit;
  }
}
@media screen and (max-width: 375px) {
  header .container .container_box_text h1 {
    font-size: 21px;
    line-height: 30px;
  }
}
header .container .container_box_text h1 span {
  color: #40A3F8;
}
header .container .container_box_text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(117, 117, 117, 0.46);
  padding-bottom: 50px;
}
@media screen and (max-width: 840px) {
  header .container .container_box_text p {
    font-size: 12px;
    line-height: 25px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 793px) {
  header .container .container_box_text p {
    line-height: 20px;
  }
}
@media screen and (max-width: 538px) {
  header .container .container_box_text p {
    line-height: 17px;
  }
}
header .container .container_box_text form {
  background-color: #FFFFFF;
  box-shadow: 0 4px 22px rgba(228, 245, 252, 0.3);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 2% 2%;
}
@media screen and (max-width: 834px) {
  header .container .container_box_text form {
    flex-direction: column;
    position: relative;
  }
}
@media screen and (max-width: 470px) {
  header .container .container_box_text form {
    position: absolute;
    top: 15%;
    right: 5%;
  }
}
header .container .container_box_text form .form_input_name {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 820px) {
  header .container .container_box_text form .form_input_name {
    padding-bottom: 5px;
  }
}
header .container .container_box_text form .form_input_name .input_name {
  background-color: rgba(245, 246, 250, 0.52);
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  height: 100%;
  width: 216px;
  padding-left: 30px;
}
@media screen and (max-width: 1070px) {
  header .container .container_box_text form .form_input_name .input_name {
    width: 190px;
  }
}
@media screen and (max-width: 950px) {
  header .container .container_box_text form .form_input_name .input_name {
    width: 160px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 834px) {
  header .container .container_box_text form .form_input_name .input_name {
    width: 300px;
    height: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 538px) {
  header .container .container_box_text form .form_input_name .input_name {
    width: 180px;
    height: 40px;
  }
}
@media screen and (max-width: 500px) {
  header .container .container_box_text form .form_input_name .input_name {
    width: 160px;
    height: 35px;
    padding-left: inherit;
  }
}
header .container .container_box_text form .form_select_geo {
  display: flex;
  align-items: center;
  position: relative;
}
header .container .container_box_text form .form_select_geo:before {
  content: "";
  background-image: url("/images/location.png");
  height: 18px;
  width: 15px;
  background-size: cover;
  position: absolute;
  top: 30%;
  left: 10%;
}
@media screen and (max-width: 950px) {
  header .container .container_box_text form .form_select_geo:before {
    left: 2%;
  }
}
header .container .container_box_text form .form_select_geo .select_geo {
  background-color: rgba(245, 246, 250, 0.52);
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #3D3D3F;
  height: 100%;
  width: 203px;
  text-align: center;
}
@media screen and (max-width: 1070px) {
  header .container .container_box_text form .form_select_geo .select_geo {
    width: 185px;
  }
}
@media screen and (max-width: 950px) {
  header .container .container_box_text form .form_select_geo .select_geo {
    width: 160px;
  }
}
@media screen and (max-width: 834px) {
  header .container .container_box_text form .form_select_geo .select_geo {
    width: 300px;
    height: 50px;
  }
}
@media screen and (max-width: 538px) {
  header .container .container_box_text form .form_select_geo .select_geo {
    width: 180px;
    height: 40px;
  }
}
@media screen and (max-width: 500px) {
  header .container .container_box_text form .form_select_geo .select_geo {
    width: 160px;
    height: 35px;
  }
}
header .container .container_box_text form button {
  background-color: #40A3F8;
  border-radius: 8px;
  border: none;
  width: 70px;
  height: 59px;
  cursor: pointer;
}
header .container .container_box_text form button:hover {
  transform: scale(0.9);
  transition: 0.5s;
}
@media screen and (max-width: 840px) {
  header .container .container_box_text form button {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 834px) {
  header .container .container_box_text form button {
    position: absolute;
    left: 0;
    bottom: -50%;
  }
}
@media screen and (max-width: 538px) {
  header .container .container_box_text form button {
    bottom: -55%;
    width: 42px;
    height: 42px;
  }
}
@media screen and (max-width: 500px) {
  header .container .container_box_text form button {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 470px) {
  header .container .container_box_text form button {
    bottom: -40%;
  }
}
@media screen and (max-width: 500px) {
  header .container .container_box_text form button img {
    height: 80%;
  }
}
header .female-doctor {
  position: absolute;
  bottom: -0.5%;
  right: 7%;
}
@media screen and (max-width: 1170px) {
  header .female-doctor {
    right: 2%;
  }
}
@media screen and (max-width: 1070px) {
  header .female-doctor {
    right: 3%;
  }
}
@media screen and (max-width: 1000px) {
  header .female-doctor {
    right: 4%;
  }
}
@media screen and (max-width: 720px) {
  header .female-doctor {
    right: 6%;
  }
}
@media screen and (max-width: 538px) {
  header .female-doctor {
    right: 0;
  }
}
header .female-doctor .image_female-doctor {
  width: 80vh;
}
@media screen and (max-width: 1070px) {
  header .female-doctor .image_female-doctor {
    width: 75vh;
  }
}
@media screen and (max-width: 1000px) {
  header .female-doctor .image_female-doctor {
    width: 70vh;
  }
}
@media screen and (max-width: 834px) {
  header .female-doctor .image_female-doctor {
    width: 52vh;
  }
}
@media screen and (max-width: 620px) {
  header .female-doctor .image_female-doctor {
    width: 50vh;
  }
}
@media screen and (max-width: 470px) {
  header .female-doctor .image_female-doctor {
    width: 45vh;
  }
}
@media screen and (max-width: 420px) {
  header .female-doctor .image_female-doctor {
    width: 38vh;
  }
}
header .female-doctor .icon_chat {
  position: absolute;
  top: 40%;
  left: 0;
}
@media screen and (max-width: 1000px) {
  header .female-doctor .icon_chat {
    top: 30%;
    left: 0;
  }
}
@media screen and (max-width: 750px) {
  header .female-doctor .icon_chat {
    left: 5%;
  }
}
@media screen and (max-width: 375px) {
  header .female-doctor .icon_chat {
    left: 12%;
    top: -20%;
  }
}
header .female-doctor .icon_chat img {
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 470px) {
  header .female-doctor .icon_chat img {
    width: 65px;
    height: 65px;
  }
}
header .female-doctor .icon_video_chat {
  position: absolute;
  top: 7%;
  left: 90%;
}
@media screen and (max-width: 1170px) {
  header .female-doctor .icon_video_chat {
    left: 80%;
  }
}
@media screen and (max-width: 1000px) {
  header .female-doctor .icon_video_chat {
    top: -10%;
    left: 80%;
  }
}
@media screen and (max-width: 538px) {
  header .female-doctor .icon_video_chat {
    left: 64%;
  }
}
header .female-doctor .icon_video_chat img {
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 470px) {
  header .female-doctor .icon_video_chat img {
    width: 65px;
    height: 65px;
  }
}
header .female-doctor .icon_telephone {
  position: absolute;
  top: 10%;
  left: 5%;
}
@media screen and (max-width: 1000px) {
  header .female-doctor .icon_telephone {
    top: -5%;
  }
}
@media screen and (max-width: 750px) {
  header .female-doctor .icon_telephone {
    left: 10%;
  }
}
@media screen and (max-width: 412px) {
  header .female-doctor .icon_telephone {
    left: 14%;
  }
}
@media screen and (max-width: 375px) {
  header .female-doctor .icon_telephone {
    top: -28%;
    left: 35%;
  }
}
header .female-doctor .icon_telephone img {
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 470px) {
  header .female-doctor .icon_telephone img {
    width: 65px;
    height: 65px;
  }
}
header .female-doctor .icon_happy_patient {
  position: absolute;
  top: 50%;
  left: 75%;
}
@media screen and (max-width: 1170px) {
  header .female-doctor .icon_happy_patient {
    left: 70%;
  }
}
@media screen and (max-width: 1000px) {
  header .female-doctor .icon_happy_patient {
    left: 62%;
  }
}
@media screen and (max-width: 538px) {
  header .female-doctor .icon_happy_patient {
    left: 53%;
  }
}
@media screen and (max-width: 470px) {
  header .female-doctor .icon_happy_patient {
    left: 47%;
  }
}
header .female-doctor .icon_happy_patient img {
  width: 162px;
  height: 112px;
}
@media screen and (max-width: 620px) {
  header .female-doctor .icon_happy_patient img {
    width: 140px;
    height: 90px;
  }
}
@media screen and (max-width: 470px) {
  header .female-doctor .icon_happy_patient img {
    width: 100px;
    height: 70px;
  }
}
header .female-doctor .icon_patient_review {
  position: absolute;
  top: 75%;
  left: 15%;
}
@media screen and (max-width: 470px) {
  header .female-doctor .icon_patient_review {
    left: -15%;
  }
}
header .female-doctor .icon_patient_review img {
  width: 212px;
  height: 85px;
}
@media screen and (max-width: 620px) {
  header .female-doctor .icon_patient_review img {
    width: 180px;
    height: 75px;
  }
}
@media screen and (max-width: 470px) {
  header .female-doctor .icon_patient_review img {
    width: 160px;
    height: 65px;
  }
}

@media screen and (max-width: 840px) {
  .burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.three_easy_steps {
  padding-top: 75px;
  padding-bottom: 79px;
  background-image: url("../images/background_2.jpg");
  background-size: cover;
}
@media screen and (max-width: 428px) {
  .three_easy_steps {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.three_easy_steps .container {
  max-width: 1170px;
  margin: auto;
}
@media screen and (max-width: 1170px) {
  .three_easy_steps .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.three_easy_steps .container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 70px;
  color: #3E3E3E;
  text-align: center;
  padding-bottom: 51px;
}
@media screen and (max-width: 600px) {
  .three_easy_steps .container h2 {
    font-size: 40px;
    line-height: 65px;
  }
}
@media screen and (max-width: 428px) {
  .three_easy_steps .container h2 {
    font-size: 35px;
    line-height: 55px;
  }
}
.three_easy_steps .container .box_content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 428px) {
  .three_easy_steps .container .box_content {
    flex-direction: column;
  }
}
@media screen and (max-width: 1000px) {
  .three_easy_steps .container .box_content .content {
    padding-right: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .three_easy_steps .container .box_content .content:nth-child(3) {
    padding-right: 0;
  }
}
.three_easy_steps .container .box_content .content .img {
  display: flex;
  justify-content: center;
  position: relative;
}
.three_easy_steps .container .box_content .content .img::before {
  content: "";
  background-color: rgba(56, 175, 255, 0.1);
  width: 80px;
  height: 80px;
  position: absolute;
  top: -35%;
  left: 37%;
  border-radius: 50%;
}
@media screen and (max-width: 870px) {
  .three_easy_steps .container .box_content .content .img::before {
    top: -35%;
    left: 34%;
  }
}
@media screen and (max-width: 700px) {
  .three_easy_steps .container .box_content .content .img::before {
    top: -35%;
    left: 30%;
  }
}
@media screen and (max-width: 600px) {
  .three_easy_steps .container .box_content .content .img::before {
    top: -35%;
    left: 27%;
  }
}
@media screen and (max-width: 500px) {
  .three_easy_steps .container .box_content .content .img::before {
    top: -35%;
    left: 20%;
  }
}
@media screen and (max-width: 428px) {
  .three_easy_steps .container .box_content .content .img::before {
    top: -35%;
    left: 38%;
  }
}
@media screen and (max-width: 360px) {
  .three_easy_steps .container .box_content .content .img::before {
    top: -35%;
    left: 35%;
  }
}
.three_easy_steps .container .box_content .content a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.three_easy_steps .container .box_content .content a h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #3D3D3F;
  text-align: center;
  padding-bottom: 18px;
  padding-top: 26px;
}
@media screen and (max-width: 600px) {
  .three_easy_steps .container .box_content .content a h4 {
    font-size: 18px;
    line-height: 30px;
  }
}
@media screen and (max-width: 428px) {
  .three_easy_steps .container .box_content .content a h4 {
    padding-bottom: 0;
  }
}
.three_easy_steps .container .box_content .content a p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  max-width: 310px;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .three_easy_steps .container .box_content .content a p {
    font-size: 10px;
    line-height: 18px;
  }
}
@media screen and (max-width: 428px) {
  .three_easy_steps .container .box_content .content a p {
    padding-bottom: 50px;
  }
}
.three_easy_steps .container .box_content .content:nth-child(2) .img::before {
  background-color: rgba(255, 180, 26, 0.12);
}
.three_easy_steps .container .box_content .content:nth-child(3) .img::before {
  background-color: rgba(99, 203, 254, 0.12);
}

.quality_doctors {
  background-image: url("../images/background_2.jpg");
  background-size: cover;
}
.quality_doctors .container {
  padding-left: 52px;
  padding-right: 150px;
  display: flex;
}
@media screen and (max-width: 1310px) {
  .quality_doctors .container {
    padding-left: 40px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .quality_doctors .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .quality_doctors .container {
    padding-left: 0;
    padding-right: 15px;
  }
}
@media screen and (max-width: 600px) {
  .quality_doctors .container {
    flex-direction: column-reverse;
    padding-left: 30px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .quality_doctors .container img {
    height: 80vh;
  }
}
@media screen and (max-width: 1000px) {
  .quality_doctors .container img {
    height: 70vh;
  }
}
@media screen and (max-width: 900px) {
  .quality_doctors .container img {
    height: 45vh;
  }
}
@media screen and (max-width: 800px) {
  .quality_doctors .container img {
    height: 40vh;
  }
}
@media screen and (max-width: 600px) {
  .quality_doctors .container img {
    height: 60vh;
  }
}
@media screen and (max-width: 550px) {
  .quality_doctors .container img {
    height: 50vh;
  }
}
@media screen and (max-width: 428px) {
  .quality_doctors .container img {
    height: 40vh;
  }
}
.quality_doctors .container .box_text {
  padding-left: 123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1310px) {
  .quality_doctors .container .box_text {
    padding-left: 70px;
  }
}
@media screen and (max-width: 1200px) {
  .quality_doctors .container .box_text {
    padding-left: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .quality_doctors .container .box_text {
    padding-left: 0;
  }
}
.quality_doctors .container .box_text h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  padding-bottom: 23px;
}
@media screen and (max-width: 900px) {
  .quality_doctors .container .box_text h3 {
    font-size: 38px;
    line-height: 42px;
  }
}
@media screen and (max-width: 850px) {
  .quality_doctors .container .box_text h3 {
    font-size: 34px;
    line-height: 38px;
  }
}
@media screen and (max-width: 600px) {
  .quality_doctors .container .box_text h3 {
    text-align: center;
  }
}
@media screen and (max-width: 460px) {
  .quality_doctors .container .box_text h3 {
    font-size: 30px;
    line-height: 32px;
  }
}
@media screen and (max-width: 360px) {
  .quality_doctors .container .box_text h3 {
    font-size: 28px;
    line-height: 30px;
  }
}
.quality_doctors .container .box_text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  padding-bottom: 10px;
}
@media screen and (max-width: 900px) {
  .quality_doctors .container .box_text p {
    font-size: 15px;
    line-height: 26px;
  }
}
@media screen and (max-width: 850px) {
  .quality_doctors .container .box_text p {
    font-size: 13px;
    line-height: 22px;
  }
}
@media screen and (max-width: 460px) {
  .quality_doctors .container .box_text p {
    font-size: 12px;
    line-height: 20px;
  }
}
@media screen and (max-width: 360px) {
  .quality_doctors .container .box_text p {
    font-size: 11px;
    line-height: 18px;
  }
}
.quality_doctors .container .box_text ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  padding-bottom: 14px;
  list-style: none;
  padding-left: 0;
}
.quality_doctors .container .box_text ul li::before {
  content: "";
  background-image: url("../images/check.svg");
  background-size: cover;
  width: 17.5px;
  height: 17.5px;
  display: inline-block;
  margin-right: 18px;
}
@media screen and (max-width: 460px) {
  .quality_doctors .container .box_text ul li::before {
    width: 10.5px;
    height: 10.5px;
  }
}
.quality_doctors .container .box_text ul li:nth-child(3) {
  padding-bottom: 24px;
}
@media screen and (max-width: 900px) {
  .quality_doctors .container .box_text ul li {
    font-size: 14px;
    line-height: 26px;
  }
}
@media screen and (max-width: 850px) {
  .quality_doctors .container .box_text ul li {
    font-size: 12px;
    line-height: 22px;
  }
}
@media screen and (max-width: 460px) {
  .quality_doctors .container .box_text ul li {
    font-size: 11px;
    line-height: 20px;
  }
}
@media screen and (max-width: 360px) {
  .quality_doctors .container .box_text ul li {
    font-size: 10px;
    line-height: 18px;
  }
}
.quality_doctors .container .box_text a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: #40A3F8;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  text-decoration: none;
  padding: 10px 20px;
}
@media screen and (max-width: 900px) {
  .quality_doctors .container .box_text a {
    font-size: 12px;
    line-height: 22px;
    width: 190px;
    height: 45px;
  }
}
@media screen and (max-width: 460px) {
  .quality_doctors .container .box_text a {
    font-size: 11px;
    line-height: 20px;
    width: 180px;
    height: 40px;
  }
}
@media screen and (max-width: 360px) {
  .quality_doctors .container .box_text a {
    font-size: 10px;
    line-height: 16px;
    width: 150px;
    height: 35px;
  }
}

.our_service {
  padding-top: 143px;
  padding-bottom: 121px;
  background-image: url("../images/background_2.jpg");
  background-size: cover;
}
.our_service .container {
  max-width: 1180px;
  margin: auto;
}
@media screen and (max-width: 850px) {
  .our_service .container {
    padding: 0 15px;
  }
}
.our_service .container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  text-align: center;
  padding-bottom: 24px;
}
@media screen and (max-width: 650px) {
  .our_service .container h2 {
    font-size: 42px;
    line-height: 49px;
  }
}
@media screen and (max-width: 500px) {
  .our_service .container h2 {
    font-size: 38px;
    line-height: 45px;
  }
}
@media screen and (max-width: 430px) {
  .our_service .container h2 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media screen and (max-width: 360px) {
  .our_service .container h2 {
    font-size: 32px;
    line-height: 36px;
  }
}
.our_service .container p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
}
@media screen and (max-width: 650px) {
  .our_service .container p {
    font-size: 17px;
    line-height: 28px;
  }
}
@media screen and (max-width: 500px) {
  .our_service .container p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 430px) {
  .our_service .container p {
    font-size: 15px;
    line-height: 24px;
  }
}
@media screen and (max-width: 360px) {
  .our_service .container p {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (max-width: 749px) {
  .slide-one {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 749px) {
  .slide-one .owl-item img {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  .slide-one .owl-item img {
    width: 100%;
  }
}
.slide-one .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 380px) {
  .slide-one .owl-dots {
    flex-wrap: wrap;
  }
}
.slide-one .owl-dots .owl-dot span {
  background-color: #DBE8EE;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0 5px;
}
@media screen and (max-width: 380px) {
  .slide-one .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 0 4px;
  }
}
.slide-one .owl-dots .owl-dot.active span {
  background-color: #40A3F8;
  border-radius: 6px;
  width: 60px;
  height: 15px;
  display: inline-block;
  margin: 0 5px;
}
@media screen and (max-width: 380px) {
  .slide-one .owl-dots .owl-dot.active span {
    width: 45px;
    margin: 0 4px;
  }
}

.meet_our_certified {
  background-image: url("../images/background_2.jpg");
  background-size: cover;
}
.meet_our_certified .container {
  max-width: 1180px;
  margin: auto;
}
.meet_our_certified .container .meet_our_box_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 510px) {
  .meet_our_certified .container .meet_our_box_text {
    padding: 0 10px;
  }
}
.meet_our_certified .container .meet_our_box_text h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  padding-bottom: 16px;
}
@media screen and (max-width: 800px) {
  .meet_our_certified .container .meet_our_box_text h3 {
    font-size: 38px;
    line-height: 43px;
  }
}
@media screen and (max-width: 600px) {
  .meet_our_certified .container .meet_our_box_text h3 {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }
}
@media screen and (max-width: 510px) {
  .meet_our_certified .container .meet_our_box_text h3 {
    font-size: 28px;
    line-height: 30px;
  }
}
@media screen and (max-width: 414px) {
  .meet_our_certified .container .meet_our_box_text h3 {
    font-size: 26px;
    line-height: 28px;
    padding-bottom: 12px;
  }
}
.meet_our_certified .container .meet_our_box_text img {
  padding-bottom: 16px;
}
@media screen and (max-width: 800px) {
  .meet_our_certified .container .meet_our_box_text img {
    width: 10%;
  }
}
.meet_our_certified .container .meet_our_box_text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  padding-bottom: 69px;
}
@media screen and (max-width: 800px) {
  .meet_our_certified .container .meet_our_box_text p {
    font-size: 16px;
    line-height: 25px;
  }
}
@media screen and (max-width: 600px) {
  .meet_our_certified .container .meet_our_box_text p {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 414px) {
  .meet_our_certified .container .meet_our_box_text p {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 20px;
  }
}
.meet_our_certified .container .meet_our_content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .meet_our_certified .container .meet_our_content {
    padding: 0 15px;
  }
}
@media screen and (max-width: 600px) {
  .meet_our_certified .container .meet_our_content {
    flex-wrap: wrap;
    align-items: center;
  }
}
@media screen and (max-width: 570px) {
  .meet_our_certified .container .meet_our_content .wrapper {
    width: 50%;
  }
}
.meet_our_certified .container .meet_our_content .wrapper a {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1110px) {
  .meet_our_certified .container .meet_our_content .wrapper a img {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .meet_our_certified .container .meet_our_content .wrapper a img {
    width: 80%;
  }
}
.meet_our_certified .container .meet_our_button {
  display: flex;
  justify-content: center;
  padding-top: 58px;
}
@media screen and (max-width: 600px) {
  .meet_our_certified .container .meet_our_button {
    padding-top: 40px;
  }
}
@media screen and (max-width: 414px) {
  .meet_our_certified .container .meet_our_button {
    padding-top: 30px;
  }
}
.meet_our_certified .container .meet_our_button a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
  background-color: #40A3F8;
  border-radius: 5px;
  text-decoration: none;
  padding: 9px 22px;
}
@media screen and (max-width: 800px) {
  .meet_our_certified .container .meet_our_button a {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  .meet_our_certified .container .meet_our_button a {
    font-size: 13px;
  }
}
@media screen and (max-width: 414px) {
  .meet_our_certified .container .meet_our_button a {
    font-size: 11px;
    padding: 5px 18px;
  }
}

.mobile_apps {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/background_2.jpg");
  background-size: cover;
}
@media screen and (max-width: 750px) {
  .mobile_apps {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.mobile_apps .container {
  padding-right: 150px;
  display: flex;
}
@media screen and (max-width: 1300px) {
  .mobile_apps .container {
    padding-right: 50px;
  }
}
@media screen and (max-width: 900px) {
  .mobile_apps .container {
    padding-right: 15px;
  }
}
@media screen and (max-width: 750px) {
  .mobile_apps .container {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 510px) {
  .mobile_apps .container {
    padding-left: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .mobile_apps .container .mobile_apps_img {
    width: 55%;
  }
}
@media screen and (max-width: 1000px) {
  .mobile_apps .container .mobile_apps_img {
    width: 50%;
  }
}
@media screen and (max-width: 900px) {
  .mobile_apps .container .mobile_apps_img {
    width: 43%;
  }
}
@media screen and (max-width: 800px) {
  .mobile_apps .container .mobile_apps_img {
    width: 47%;
  }
}
@media screen and (max-width: 750px) {
  .mobile_apps .container .mobile_apps_img {
    width: 85%;
    margin-top: 15px;
  }
}
@media screen and (max-width: 600px) {
  .mobile_apps .container .mobile_apps_img {
    width: 90%;
    margin-top: 30px;
  }
}
.mobile_apps .container .mobile_apps_box_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 503px;
  margin: auto;
}
@media screen and (max-width: 1300px) {
  .mobile_apps .container .mobile_apps_box_text {
    padding-left: 15px;
  }
}
.mobile_apps .container .mobile_apps_box_text h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  padding-bottom: 30px;
}
@media screen and (max-width: 900px) {
  .mobile_apps .container .mobile_apps_box_text h4 {
    font-size: 40px;
    line-height: 55px;
  }
}
@media screen and (max-width: 750px) {
  .mobile_apps .container .mobile_apps_box_text h4 {
    font-size: 38px;
    line-height: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .mobile_apps .container .mobile_apps_box_text h4 {
    font-size: 36px;
    line-height: 47px;
  }
}
@media screen and (max-width: 510px) {
  .mobile_apps .container .mobile_apps_box_text h4 {
    font-size: 32px;
    line-height: 44px;
  }
}
@media screen and (max-width: 414px) {
  .mobile_apps .container .mobile_apps_box_text h4 {
    font-size: 28px;
    line-height: 40px;
  }
}
.mobile_apps .container .mobile_apps_box_text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  padding-bottom: 30px;
}
@media screen and (max-width: 900px) {
  .mobile_apps .container .mobile_apps_box_text p {
    font-size: 16px;
    line-height: 28px;
  }
}
@media screen and (max-width: 600px) {
  .mobile_apps .container .mobile_apps_box_text p {
    font-size: 14px;
    line-height: 26px;
  }
}
@media screen and (max-width: 510px) {
  .mobile_apps .container .mobile_apps_box_text p {
    line-height: 23px;
  }
}
@media screen and (max-width: 414px) {
  .mobile_apps .container .mobile_apps_box_text p {
    line-height: 21px;
  }
}
@media screen and (max-width: 750px) {
  .mobile_apps .container .mobile_apps_box_text .mobile_apps_links_store {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 900px) {
  .mobile_apps .container .mobile_apps_box_text .mobile_apps_links_store a:nth-child(1) img {
    width: 25%;
  }
}
@media screen and (max-width: 750px) {
  .mobile_apps .container .mobile_apps_box_text .mobile_apps_links_store a:nth-child(1) img {
    width: 85%;
  }
}
@media screen and (max-width: 900px) {
  .mobile_apps .container .mobile_apps_box_text .mobile_apps_links_store a:nth-child(2) img {
    width: 23%;
  }
}
@media screen and (max-width: 750px) {
  .mobile_apps .container .mobile_apps_box_text .mobile_apps_links_store a:nth-child(2) img {
    width: 90%;
  }
}

.look_our_clients {
  background-image: url("../images/background_2.jpg");
  background-size: cover;
}
.look_our_clients .container {
  max-width: 1180px;
  margin: auto;
}
@media screen and (max-width: 850px) {
  .look_our_clients .container {
    padding: 0 15px;
  }
}
.look_our_clients .container h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  text-align: center;
  padding-bottom: 93px;
}
@media screen and (max-width: 749px) {
  .look_our_clients .container h3 {
    font-size: 38px;
    line-height: 44px;
  }
}
@media screen and (max-width: 500px) {
  .look_our_clients .container h3 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media screen and (max-width: 430px) {
  .look_our_clients .container h3 {
    font-size: 32px;
    line-height: 35px;
  }
}
@media screen and (max-width: 360px) {
  .look_our_clients .container h3 {
    font-size: 28px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1400px) {
  .look_our_clients .container .slide-two {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 1280px) {
  .look_our_clients .container .slide-two {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 749px) {
  .look_our_clients .container .slide-two {
    width: 70%;
    margin: auto;
  }
}
@media screen and (max-width: 749px) {
  .look_our_clients .container .slide-two .owl-item img {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  .look_our_clients .container .slide-two .owl-item img {
    width: 90%;
  }
}
.look_our_clients .container .slide-two .owl-nav .owl-prev {
  width: 33px;
  height: 33px;
  background-color: rgba(111, 188, 255, 0.1005);
  border-radius: 5px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);
  position: absolute;
  top: 40%;
  left: -10%;
}
@media screen and (max-width: 1280px) {
  .look_our_clients .container .slide-two .owl-nav .owl-prev {
    left: -8%;
  }
}
@media screen and (max-width: 380px) {
  .look_our_clients .container .slide-two .owl-nav .owl-prev {
    left: -15%;
  }
}
.look_our_clients .container .slide-two .owl-nav .owl-prev::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 3px solid #40A3F8;
  border-right: 3px solid #40A3F8;
  display: inline-block;
  transform: rotate(-135deg);
  position: absolute;
  left: 35%;
  top: 30%;
}
.look_our_clients .container .slide-two .owl-nav .owl-prev:hover {
  background-color: #40A3F8;
}
.look_our_clients .container .slide-two .owl-nav .owl-prev:hover::before {
  content: "";
  border-top: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;
}
.look_our_clients .container .slide-two .owl-nav .owl-next {
  width: 33px;
  height: 33px;
  background-color: rgba(111, 188, 255, 0.1005);
  border-radius: 5px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);
  position: absolute;
  top: 40%;
  right: -10%;
}
@media screen and (max-width: 1280px) {
  .look_our_clients .container .slide-two .owl-nav .owl-next {
    right: -8%;
  }
}
@media screen and (max-width: 380px) {
  .look_our_clients .container .slide-two .owl-nav .owl-next {
    right: -15%;
  }
}
.look_our_clients .container .slide-two .owl-nav .owl-next::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 3px solid #40A3F8;
  border-right: 3px solid #40A3F8;
  display: inline-block;
  transform: rotate(45deg);
  position: absolute;
  right: 35%;
  top: 30%;
}
.look_our_clients .container .slide-two .owl-nav .owl-next:hover {
  background-color: #40A3F8;
}
.look_our_clients .container .slide-two .owl-nav .owl-next:hover::before {
  content: "";
  border-top: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;
}

.it’s_time_change {
  padding-top: 81px;
  padding-bottom: 68px;
  background-image: url("../images/background_2.jpg");
  background-size: cover;
}
.it’s_time_change .container {
  max-width: 1287px;
  margin: auto;
}
.it’s_time_change .container .background_box {
  background-color: #40A3F8;
  border-radius: 12px;
  max-width: 1170px;
  margin: auto;
  height: 341px;
  background-image: url("../images/background_box_img.png");
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .it’s_time_change .container .background_box {
    align-items: start;
    padding-top: 20px;
  }
}
.it’s_time_change .container .background_box .background_box_text_container {
  padding-left: 118px;
}
@media screen and (max-width: 1000px) {
  .it’s_time_change .container .background_box .background_box_text_container {
    padding-left: 50px;
  }
}
@media screen and (max-width: 900px) {
  .it’s_time_change .container .background_box .background_box_text_container {
    padding-left: 30px;
  }
}
@media screen and (max-width: 360px) {
  .it’s_time_change .container .background_box .background_box_text_container {
    padding-left: 15px;
  }
}
.it’s_time_change .container .background_box .background_box_text_container h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding-bottom: 37px;
}
@media screen and (max-width: 900px) {
  .it’s_time_change .container .background_box .background_box_text_container h4 {
    font-size: 36px;
    line-height: 40px;
  }
}
@media screen and (max-width: 650px) {
  .it’s_time_change .container .background_box .background_box_text_container h4 {
    font-size: 32px;
    line-height: 36px;
  }
}
@media screen and (max-width: 530px) {
  .it’s_time_change .container .background_box .background_box_text_container h4 {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 190px;
  }
}
@media screen and (max-width: 470px) {
  .it’s_time_change .container .background_box .background_box_text_container h4 {
    font-size: 28px;
    line-height: 32px;
    width: 40%;
    padding-bottom: 115px;
  }
}
@media screen and (max-width: 428px) {
  .it’s_time_change .container .background_box .background_box_text_container h4 {
    font-size: 25px;
    line-height: 29px;
    width: 50%;
    padding-bottom: 160px;
  }
}
.it’s_time_change .container .background_box .background_box_text_container a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-feature-settings: "cpsp" on;
  color: #40A3F8;
  text-decoration: none;
  background-color: #FFFFFF;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 15px 17px;
}
.it’s_time_change .container .background_box .background_box_text_container a:hover {
  transform: scale(4.3);
  transition: 0.3s;
}
@media screen and (max-width: 900px) {
  .it’s_time_change .container .background_box .background_box_text_container a {
    font-size: 16px;
  }
}
@media screen and (max-width: 650px) {
  .it’s_time_change .container .background_box .background_box_text_container a {
    font-size: 13px;
  }
}
@media screen and (max-width: 530px) {
  .it’s_time_change .container .background_box .background_box_text_container a {
    font-size: 11px;
  }
}
@media screen and (max-width: 470px) {
  .it’s_time_change .container .background_box .background_box_text_container a {
    font-size: 9px;
  }
}
.it’s_time_change .container .background_box img {
  position: absolute;
  right: 5%;
  bottom: 0;
}
@media screen and (max-width: 1000px) {
  .it’s_time_change .container .background_box img {
    right: 2%;
  }
}
@media screen and (max-width: 800px) {
  .it’s_time_change .container .background_box img {
    right: 0;
    height: 120%;
  }
}
@media screen and (max-width: 650px) {
  .it’s_time_change .container .background_box img {
    height: 100%;
  }
}
@media screen and (max-width: 428px) {
  .it’s_time_change .container .background_box img {
    height: 90%;
  }
}
@media screen and (max-width: 360px) {
  .it’s_time_change .container .background_box img {
    height: 85%;
  }
}
@media screen and (max-width: 340px) {
  .it’s_time_change .container .background_box img {
    height: 80%;
  }
}

footer {
  padding-top: 34px;
}
@media screen and (max-width: 900px) {
  footer {
    padding-top: 20px;
  }
}
footer .container {
  max-width: 1170px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  footer .container {
    padding: 0 30px;
  }
}
footer .container .footer_main_box {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 840px) {
  footer .container .footer_main_box {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
footer .container .footer_main_box .footer_main_box_first .logo_footer {
  padding-bottom: 12px;
}
@media screen and (max-width: 900px) {
  footer .container .footer_main_box .footer_main_box_first .logo_footer {
    padding-bottom: 0;
  }
}
footer .container .footer_main_box .footer_main_box_first p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
  padding-bottom: 16px;
}
@media screen and (max-width: 700px) {
  footer .container .footer_main_box .footer_main_box_first p {
    font-size: 13px;
  }
}
footer .container .footer_main_box .footer_main_box_first span {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
}
@media screen and (max-width: 700px) {
  footer .container .footer_main_box .footer_main_box_first span {
    font-size: 13px;
  }
}
footer .container .footer_main_box .footer_main_box_first .footer_main_box_social {
  margin-top: 16px;
}
footer .container .footer_main_box .footer_main_box_first .footer_main_box_social ul {
  display: flex;
  list-style: none;
}
footer .container .footer_main_box .footer_main_box_first .footer_main_box_social ul li {
  margin-right: 16px;
}
footer .container .footer_main_box .footer_main_box_second {
  display: flex;
}
@media screen and (max-width: 518px) {
  footer .container .footer_main_box .footer_main_box_second {
    padding-top: 30px;
  }
}
footer .container .footer_main_box .footer_main_box_second ul {
  list-style: none;
  padding-left: 114px;
}
@media screen and (max-width: 1100px) {
  footer .container .footer_main_box .footer_main_box_second ul {
    padding-left: 50px;
  }
}
@media screen and (max-width: 1000px) {
  footer .container .footer_main_box .footer_main_box_second ul {
    padding-left: 20px;
  }
}
@media screen and (max-width: 840px) {
  footer .container .footer_main_box .footer_main_box_second ul {
    padding-left: 40px;
  }
}
@media screen and (max-width: 700px) {
  footer .container .footer_main_box .footer_main_box_second ul {
    padding-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  footer .container .footer_main_box .footer_main_box_second ul {
    padding-right: 20px;
  }
}
footer .container .footer_main_box .footer_main_box_second ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
  padding-bottom: 24px;
}
@media screen and (max-width: 1100px) {
  footer .container .footer_main_box .footer_main_box_second ul li {
    padding-bottom: 14px;
  }
}
@media screen and (max-width: 1000px) {
  footer .container .footer_main_box .footer_main_box_second ul li {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 700px) {
  footer .container .footer_main_box .footer_main_box_second ul li {
    font-size: 15px;
  }
}
footer .container .footer_main_box .footer_main_box_second ul li a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
  text-decoration: none;
}
@media screen and (max-width: 700px) {
  footer .container .footer_main_box .footer_main_box_second ul li a {
    font-size: 13px;
  }
}
@media screen and (max-width: 840px) {
  footer .container .footer_main_box .footer_main_box_third {
    padding: 20px 0 20px 30px;
  }
}
@media screen and (max-width: 518px) {
  footer .container .footer_main_box .footer_main_box_third {
    padding-top: 30px;
  }
}
footer .container .footer_main_box .footer_main_box_third h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
  padding-bottom: 19px;
}
@media screen and (max-width: 700px) {
  footer .container .footer_main_box .footer_main_box_third h4 {
    font-size: 15px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 518px) {
  footer .container .footer_main_box .footer_main_box_third h4 {
    text-align: center;
    padding-bottom: 8px;
  }
}
footer .container .footer_main_box .footer_main_box_third p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
  padding-bottom: 14px;
}
@media screen and (max-width: 700px) {
  footer .container .footer_main_box .footer_main_box_third p {
    font-size: 13px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 518px) {
  footer .container .footer_main_box .footer_main_box_third p {
    text-align: center;
    padding-bottom: 10px;
  }
}
footer .container .footer_main_box .footer_main_box_third form {
  display: flex;
  flex-direction: column;
}
footer .container .footer_main_box .footer_main_box_third form input {
  border: 1.1px solid #E1E2E4;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width: 292px;
  height: 40px;
  margin-bottom: 12px;
  padding-left: 20px;
}
@media screen and (max-width: 360px) {
  footer .container .footer_main_box .footer_main_box_third form input {
    width: 250px;
  }
}
footer .container .footer_main_box .footer_main_box_third form button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background-color: #40A3F8;
  border: 1.1px solid #E1E2E4;
  border-radius: 5px;
  width: 292px;
  height: 40px;
  cursor: pointer;
}
@media screen and (max-width: 360px) {
  footer .container .footer_main_box .footer_main_box_third form button {
    width: 250px;
  }
}
footer .footer_border_wrapper {
  border-bottom: solid 2px #969696;
  opacity: 0.2;
  margin-bottom: 23px;
}
footer .footer_box_end {
  background-image: url("../images/background_2.jpg");
  background-size: cover;
  height: 100px;
}
@media screen and (max-width: 1200px) {
  footer .footer_box_end {
    padding: 0 30px;
  }
}
footer .footer_box_end .footer_box_end_container {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: auto;
}
footer .footer_box_end .footer_box_end_container p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
}
footer .footer_box_end .footer_box_end_container ul {
  list-style: none;
  display: flex;
}
@media screen and (max-width: 518px) {
  footer .footer_box_end .footer_box_end_container ul {
    flex-direction: column;
  }
}
footer .footer_box_end .footer_box_end_container ul li a {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
  text-decoration: none;
  margin-left: 53px;
}
@media screen and (max-width: 840px) {
  footer .footer_box_end .footer_box_end_container ul li a {
    margin-left: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
